/* Main cart styling */
.carrito {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 410px;
    padding: 20px;
    background-color: #FFF8E7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
}

/* Close button styling */
.close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: -10px;
    width: 30px;
    height: 30px;
    padding: 0;
}

.close-btn img {
    width: 100%;
    height: auto;
}

/* Header styling */
.carrito-header {
    display: flex;
    align-items: center; /* This will vertically align the flex children in the center */
    justify-content: flex-start; /* Aligns children at the start of the container */
    margin-top: -40px;
    margin-left: -10px;
    margin-bottom: -10px;
    padding-left: 20px; /* Adjust as needed for your design */
}

.carrito-header h2 {
    font-size: 24px; /* Adjust this value as needed */
    color: #01A6FF; /* The color you wanted */
    margin-left: 10px; /* Adds some space between the icon and the text */
}

.card-icon {
    height: auto; /* Adjust the size of your icon here if necessary */
    width: 30px; /* Adjust the size of your icon here if necessary */
}
/* Product item styling */
.producto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #E0E0E0; /* Optional: adds a divider between items */
}

.producto-img {
    width: 120px; /* Adjust as needed */
    height: auto;
    margin-right: 15px; /* Adds space between image and details */
    margin-top: -20px;
}

.producto-detalle {
    display: flex;
    flex-direction: column;
}

.producto-nombre {
    font-size: 16px;
    margin-bottom: 10px;
}

/* Adjusting the buttons within the product quantity */
.producto-cantidad {
    display: flex;
    align-items: center;

    margin-left: -12px;
}
.producto-cantidad button {
    padding: 10px; /* Padding makes the button larger */
    border: none;
    background: none;
    cursor: pointer;
}

/* Styling for the plus and minus images */
.producto-cantidad button img {
    width: 22px;
    height: 22px;
}


.producto-precio {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: -1px;
    margin-top: 5px;
  
}


/* Remover label styling */
.remover-label {
    cursor: pointer;
    color: #007BFF; /* Optional: makes it look like a clickable link */
    margin-bottom: 10px;
    text-decoration: underline; 
}

/* Subtotal and total styling */
.totales {
    margin-top: 20px;
}

.subtotal,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Divider styling */
.divisor {
    border-top: 2px solid #FDB254;
    margin: 10px 0;
}

/* Checkout button styling */
.pagar-btn {
    width: 100%;
    padding: 10px;
    background-color: #0080cc;
    
    color: white;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px; /* More space above the button */
    font-weight: bold;
    text-align: center;
}

.pagar-btn:hover {
    background-color: #FDB254;
}

/* Input styling for quantity */
.carrito input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
    -moz-appearance: textfield; /* Removes the spin button */
}

.carrito input[type="number"]::-webkit-inner-spin-button,
.carrito input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Removes the spin button */
    margin: 0;
}
