.carrito {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 410px;
    padding: 20px;
    background-color: #FFF8E7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    overflow-y: auto;
    transition: right 20s ease-in-out;
}
.carrito.visible {
    right: 40;
  }
  
.close-btn {
    align-self: flex-end;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
}

.close-btn img {
    width: 100%;
    height: auto;
}

.carrito h2 {
    margin-bottom: 10px;
    color: rgb(13, 155, 207);
    font-weight: bold;
    text-align: center;
}

.carrito hr {
    border: none;
    height: 2px;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}

.producto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.producto-info {
    display: flex;
    align-items: center;
}

.producto-nombre {
    margin-left: 10px;
    font-size: 12px;
}

.producto-cantidad {
    display: flex;
    align-items: center;
}

.producto-precio {
    margin-right: 10px;
    font-weight: bold;
}

.producto button img {
    height: 20px;
}

.totales {
    margin-top: 20px;
}

.subtotal,
.entrega,
.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.pagar-btn {
    width: 100%;
    padding: 10px;
    height: px;
    background-color: #FDB254;
    color: #f9f9f8;
    text-align: center;

    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 1px;
    font-weight: bold;
}

.pagar-btn:hover {
    background-color: #0080cc;
}

.carrito button {
    background: none;
    border: none;
    cursor: pointer;
}

.carrito input[type="number"] {
    width: 50px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.producto img {
    width: 50px;
    height: auto;
}

.carrito .producto-cantidad button img {
    width: 20px;
    height: auto;
    margin-left: 10px;
}

.carrito .producto-cantidad button {
    width: 25px;
    height: 40px;
    padding: 5px;
}

.carrito .producto-cantidad input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin-left: 15px;
}

.carrito .producto-cantidad input[type="number"]::-ms-clear,
.carrito .producto-cantidad input[type="number"]::-ms-reveal {
    display: none;
}

.carrito .producto-cantidad input[type="number"]::-webkit-inner-spin-button,
.carrito .producto-cantidad input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.carrito .producto-cantidad input[type="number"] {
    pointer-events: none;
}

.carrito .producto button img {
    width: 16px;
    height: 16px;


}

.producto-precio {
    margin-right: 10px;
    margin-left: 25px;
    font-weight: bold;
    width: 200px;
    font-size: 14px;
}


.divisor {
    border-top: 2px solid rgba(2, 166, 252, 0.5);
    margin: 10px 0;
}

.card-icon {
    margin-right: 10px;
    width: 30px;
    height: auto;
}

.carrito-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: -10px;

}