.ClickProducto {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 20px auto;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .tab-header button {
    background-color: #f2f2f2;
    color: #000;
    border: none;
    outline: none;
    padding: 10px 30px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-header button.active {
    background-color: #ffcc00;
    color: white;
  }
  
  .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .description, .features {
    text-align: left;
  }
  
  .description h2, .features h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .description p, .features p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  