.table-container {
    width: 97%;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 25px;
    margin-right: 45px !important;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 3px solid white;
    padding: 10px;
    text-align: center;
}

.table-container td {
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.table-container td:hover {
    background-color: #f2f2f2;
}

.empty-message {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-style: italic;
    color: orange;
    font-size: 10rem;
}

.button-historial {
    color: white;
    border: none;
    width: 150px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
}

.ver-mas {
    background-color: orange;
}

.popup-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.popup-detalle {
    background-color: #fff !important; 
    padding: 20px !important;
    border-radius: 10px !important; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; 
    z-index: 1001 !important; 
    max-width: 500px !important; 
    width: 90% !important; 
    position: fixed !important; 
    top: 50% !important; 
    left: 50% !important; 
    transform: translate(-50%, -50%) !important; 
    justify-content: center;
}

.popup-detalle img {
    max-width: 55px;
    max-height: 55px;
}

.button-detalle3 {
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1rem; 
    text-align: center; 
    width: 100%;
}

.popup-detalle h3 {
    text-align: center; 
    margin: 0 auto;
    color: orange;
    padding: 10px 0; 
}

.button-detalle3:hover {
    background-color: #bbb; 
}