.product-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-image-container {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: right;
  overflow: hidden; /* Importante para mantener el zoom dentro del contenedor */
}

.product-image-container img {
  height: 90%;
  width: auto;
  max-width: 75%;
  object-fit: cover;
  transition: transform 0.5s ease; /* Agrega una transición suave para el efecto de zoom */
}

.product-image-container img:hover {
  transform: scale(
    1.2
  ); /* Aumenta el tamaño de la imagen cuando se pasa el ratón por encima */
}

/* .product-image {
  object-fit: cover !important;
  height: 100%;
  width: 1000px !important;
} */

.product-info-container {
  width: 65%;
  padding-left: 20px;
}

.product-info {
  margin-bottom: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-rating {
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.btn-cart2 {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: fit-content;
}
.btn-favorite2 {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: fit-content;
}

.btn-cart2 {
  background-color: #ffa500;
  color: white;
}

.btn-favorite2 {
  background-color: #01a6ff;
  color: white;
  border: 2px solid #01a6ff;
}

.tab-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-header button {
  background-color: #f2f2f2;
  color: #000;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-right: 10px;
}

.tab-header button:last-child {
  margin-right: 0;
}

.tab-header button.active {
  background-color: #ffa500;
  color: white;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
}

.tab-content h2 {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.tab-content p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.7;
  text-align: justify;
  color: #555;
}

.description ul {
  list-style-type: disc;
  padding-left: 40px;
}

.description li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.tab-content ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #ffa500;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .product-section {
    flex-direction: column;
  }

  .product-image-container,
  .product-info-container {
    width: 100%;
  }

  .product-image-container img {
    width: 100%;
  }
}

/* Pantallas Pequeñas: Móviles */
@media (max-width: 480px) {
  .product-title {
    font-size: 20px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-cart2,
  .btn-favorite2 {
    padding: 8px 15px;
    font-size: 14px;
  }

  .btn-favorite2 {
    margin-right: 25px;
  }

  .tab-header button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .tab-content h2 {
    font-size: 24px;
  }

  .tab-content p {
    font-size: 16px;
  }

  .description ul {
    padding-left: 20px;
  }
}
