.product-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-image-container {
  height: auto;
  width: 40%;
  display: flex;
  justify-content: right;
  overflow: hidden;
  /* Importante para mantener el zoom dentro del contenedor */
}

.product-image-container img {
  height: 90%;
  width: auto;
  max-width: 75%;
  object-fit: cover;
  transition: transform 0.5s ease;
  /* Agrega una transición suave para el efecto de zoom */
}

.product-image-container img:hover {
  transform: scale(1.2);
  /* Aumenta el tamaño de la imagen cuando se pasa el ratón por encima */
}

/* .product-image {
  object-fit: cover !important;
  height: 100%;
  width: 1000px !important;
} */

.product-info-container {
  width: 65%;
  padding-left: 20px;
}

.product-info {
  margin-bottom: 20px;
}

.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-rating {
  margin-bottom: 10px;
}

.product-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.filtro-reseñas-container {
  margin-top: 20px; 
  text-align: center; 
  margin-right: 700px;
}

.filtro-reseñas-select {
  margin-left: 10px;
  padding: 10px 20px; 
  border-radius: 5px; 
  border: 1px solid #01A6FF; 
  background-color: #ffffff; 
  cursor: pointer; 
  font-size: 16px; 
  color: #D8750D; 
  width: 150px;
}

.filtro-reseñas-select option {
  padding: 5px; 
  background-color: #f2f2f2; 
}

.filtro-reseñas-select:focus {
  outline: none; 
  border-color: #007BFF; 
}

.btn-cart2 {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: fit-content;
}

.btn-favorite2 {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  width: fit-content;
}

.btn-cart2 {
  background-color: #ffa500;
  color: white;
}

.btn-favorite2 {
  background-color: #01a6ff;
  color: white;
  border: 2px solid #01a6ff;
}

.btn-cart2:hover {
  background-color: #e69500;
  /* Un tono más oscuro que #ffa500 */
}

.btn-favorite2:hover {
  background-color: #0091cc;
  /* Un tono más oscuro que #01a6ff */
  border-color: #0091cc;
  /* Asegurándose de que el borde también cambie de color */
}

.tab-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-header button {
  background-color: #f2f2f2;
  /* Mantenido */
  color: #000;
  /* Mantenido */
  border: none;
  /* Mantenido */
  padding: 10px 30px;
  /* Mantenido */
  cursor: pointer;
  /* Mantenido */
  transition: background-color 0.3s;
  /* Mantenido */
  font-size: 16px;
  /* Mantenido */
  margin-right: 10px;
  /* Mantenido */
  border-radius: 4px;
  /* Agregado */
}

.tab-header button:last-child {
  margin-right: 0;
  /* Mantenido */
}

.tab-header button.active {
  background-color: #ffa500;
  /* Mantenido */
  color: white;
  /* Mantenido */
}

.tab-content {
  border: 1px solid #ccc;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: 10px;
}

.tab-content h2 {
  color: #333;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.tab-content p {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.7;
  text-align: justify;
  color: #555;
}

.description ul {
  list-style-type: disc;
  padding-left: 40px;
}

.description li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.tab-content ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #ffa500;
  border-radius: 50%;
}

.product-description {
  border: 2px solid #ffa500;
  padding: 10px;
  border-radius: 5px;
}

.product-features {
  border: 2px solid #ffa500;
  padding: 10px;
  border-radius: 5px;
}

.agregar-resena {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: #ffa500;
  color: white;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.rating:not(:checked)>input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked)>label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked)>label:before {
  content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
  color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #ff9e0b;
}

.rating>input:checked~label {
  color: #ffa723;
}
.resenas-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.resena {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resena:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  border-color: #01a6ff;
}

.resena-titulo {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0; 
}

.resena-calificacion {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #f4b400; /* color amarillo para las estrellas */
  margin-bottom: 1px;
}

.resena-calificacion i {
  margin-right: 5px;
}

.resena-comentario {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  border-top: 1px solid #e1e1e1;
  padding-top: 15px;
  margin-top: 15px;
}
.resena-titulo-calificacion {
  display: flex; /* Esto alinea el título y la calificación en la misma línea */
  align-items: baseline; /* Alinea los elementos según la línea base del texto */
  gap: 10px; /* Espacio entre el título y la calificación */
}



/* Estilos para los íconos de estrellas */
.star-filled {
  color: #f4b400;
}

.star-empty {
  color: #ccc;
}
.resena-usuario {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px; /* Ajuste para separación entre usuario y título/calificación */
  color: #555;
}

.resena-avatar {
  width: 20px; /* Ajusta el tamaño según necesites */
  height: 20px; /* Ajusta el tamaño según necesites */
  border-radius: 50%; /* Hace que la imagen sea circular */
  margin-right: 5px; /* Espacio entre el avatar y el nombre */
}


@media (max-width: 768px) {
  .product-section {
    flex-direction: column;
  }

  .product-image-container,
  .product-info-container {
    width: 100%;
  }

  .product-image-container img {
    width: 100%;
  }
}

/* Pantallas Pequeñas: Móviles */
@media (max-width: 480px) {
  .product-title {
    font-size: 20px;
  }

  .product-price {
    font-size: 18px;
  }

  .product-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .btn-cart2,
  .btn-favorite2 {
    padding: 8px 15px;
    font-size: 14px;
  }

  .btn-favorite2 {
    margin-right: 25px;
  }

  .tab-header button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .tab-content h2 {
    font-size: 24px;
  }

  .tab-content p {
    font-size: 16px;
  }

  .description ul {
    padding-left: 20px;
  }
}
