/* Estilos generales para la paginación */
.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 20px; 
  }
  
  .pagination li {
    margin: 0 5px;
  }
  

  .pagination .page-item {
    border: none;
    border-radius: 5px; 
    padding: 8px 12px;
    color: #02a6fc;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
  }
  
  
  .pagination .page-item:hover {
    background-color: #e2e6ea; 
  }
  
  
  .pagination .page-item.active {
    background-color:  orange;
    color: white;
    box-shadow: 0 2px 4px #02a6fc; 
  }
  

  .pagination .page-item.previous,
  .pagination .page-item.next {
    font-weight: bold;
  }
  

  .pagination .page-link {
    user-select: none;
  }
  