.ProcederCompra {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  border: 2px solid #fdb254;
}

.btn-Pagar{
align-items: center;
}

.button-container {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  width: 70%;
  font-weight: bold;
}

.botones {
  margin: 10px 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #e7e4dd;
  border-radius: 88px;
  font-size: 18px;
  width: 50%;
  text-align: center;
  text-align: center;
}

.botones p {
  margin: 0 0 auto;
  font-weight: bold;
}

.boton-siguiente {
  margin: 10px auto;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #fdb254;
  border-radius: 88px;
  font-size: 18px;
  width: 100%;
}

.boton-siguiente p {
  margin: 0 0 auto;
}

.delivery {
  background-color: #e7e4dd;
}

.pick-up {
  background-color: #e7e4dd;
}

.selected {
  background-color: #fdb254;
}

.forms-container {
  padding: 20px;
  font-size: 18px;
  width: 70%;
  margin-bottom: 20px;
}

.contenedores {
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.card-direcciones {
  margin: 20px;
  position: relative;
  width: 250px;
  height: 180px;
  background-image: linear-gradient(-45deg, #f89b29 0%, #f89b29 100%);
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading-direcciones {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.para-direcciones {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  line-height: 1.4;
}

.overlay-direcciones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card-direcciones:hover {
  background-image: linear-gradient(-45deg, #007bff 0%, #007bff 100%); /* Cambiado a azul sólido al hacer hover */
}

.card-direcciones:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card-direcciones .card-btn-direcciones {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 5px 10px; /* Reduje el padding */
  font-size: 12px; /* Reduje el tamaño de la fuente */
  transform: translate(-50%, -50%);
  background-color: #f89b29;
  color: #ffffff;
  border-radius: 8px; /* Reduje el radio del borde */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card-direcciones:hover .card-btn-direcciones {
  opacity: 1;
  scale: 1;
}

.card-direcciones .card-btn-direcciones:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card-direcciones .card-btn-direcciones:active {
  scale: 0.95;
}

.overlay-direcciones::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, #f89b2980 0%, #125b7880 100% );
  transition: transform 0.5s ease;
}

.card-direcciones:hover .overlay-direcciones::after {
  transform: translate(-50%, -50%) scale(2);
} 

.bin-button {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 10px;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 40px; 
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s;
  z-index: 999;
  right: -100px;
  top: -15px;
  background-color: transparent;
  border: none;
}

.bin-bottom {
  width: 10px;
}

.bin-button svg line {
  stroke: black;
  transition: stroke 0.3s ease;
}

.bin-button:hover svg line {
  stroke: red;
}

.bin-button:hover svg * {
  stroke: red !important;
}

.bin-button:hover svg line,
.bin-button:hover svg path { /* Asegúrate de incluir todos los tipos de elementos que tu SVG pueda tener */
  stroke: red; /* Para elementos de línea */
  fill: red; /* Para elementos con relleno, si los hay */
}

.bin-top {
  width: 12px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin-button:hover .bin-top {
  transform: rotate(45deg);
}

.bin-button:active {
  transform: scale(0.9);
}
