.ProcederCompra {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  border: 2px solid #fdb254;
}
.btn-Pagar{
align-items: center;
}
.button-container {
  display: flex;
  margin-top: 10px;
  padding: 20px;
  width: 70%;
  font-weight: bold;
}

.botones {
  margin: 10px 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  background-color: #e7e4dd;
  border-radius: 88px;
  font-size: 18px;
  width: 50%;
  text-align: center;
  text-align: center;
}
.botones p {
  margin: 0 0 auto;
  font-weight: bold;
}

.boton-siguiente {
  margin: 10px auto;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #fdb254;
  border-radius: 88px;
  font-size: 18px;
  width: 100%;
}
.boton-siguiente p {
  margin: 0 0 auto;
}
.delivery {
  background-color: #e7e4dd;
}

.pick-up {
  background-color: #e7e4dd;
}

.selected {
  background-color: #fdb254;
}

.forms-container {
  padding: 20px;
  font-size: 18px;
  width: 70%;
  margin-bottom: 20px;
}

.contenedores {
  margin-bottom: 10px;
  font-size: 18px;
  width: 100%;
}
