.modificar-producto {
    background-color:#F9F5EB;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: left;
    font-family: 'Arial', sans-serif;
}
.btn-regresar {
    background-color: #d3d3d3; /* Color gris claro para el botón regresar */
    color: #005073; /* Usamos el mismo azul para el texto que en tus labels */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px; /* Separación entre el botón y el título del formulario */
    align-self: flex-start; /* Alineación al borde izquierdo */
}
.btn-regresar:hover {
    background-color: #b8b8b8; /* Color más oscuro cuando se hace hover */
    color: #fff; /* Cambiar el color del texto a blanco para mejor contraste */
}
.modificar-producto h2 {
    color: #ff8c00;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.form-group label {
    color: #005073;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #005073;
}

/* Ajuste de la altura de las áreas de texto para descripción y características */
.form-group textarea {
    height: 120px; /* Establece una altura menor para que sea un poco menos alta que la descripción */
    overflow-y: auto; /* Permite el desplazamiento vertical si hay mucho texto */
    resize: none; /* Evita que el usuario redimensione el campo */
}

.buttons {
    display: flex;
    justify-content: center; /* Centra los botones */
    align-items: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Espacio entre los botones */
}

.buttons button:last-child {
    margin-right: 0; /* Elimina el espacio del último botón con el borde */
}

.buttons button:hover {
    background-color: #0056b3;
}

.imagenes-preview img {
    max-width: 100px;
    max-height: 100px;
    margin: 5px;
}
