.modificar-producto {
    background-color: #F9F5EB;
    margin: 2% auto; /* Reducido */
    padding: 10px; /* Reducido */
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
}

.btn-regresar {
    background-color: #007bff;
    color: white;
    padding: 8px 15px; /* Reducido */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px; /* Reducido */
    align-self: flex-start;
}

.btn-regresar:hover {
    background-color: #0056b3;
}

.modificar-producto .header {
    display: flex;
    align-items: center;
}

.modificar-producto h2 {
    color: #ff8c00;
    margin-bottom: 10px; /* Reducido */
    text-align: left;
    margin-right: 10px; /* Reducido */
    font-weight: bold;
    font-size: 20px; /* Reducido */
}

.modificar-producto .nombre-italico {
    color: #01A6FF;
    margin-bottom: 10px; /* Reducido */
    font-size: 24px; /* Reducido */
    font-style: italic;
    font-weight: bold;
}

.form-group label {
    color: #005073;
    font-size: 16px; /* Reducido */
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
    padding: 8px; /* Reducido */
    margin-bottom: 8px; /* Reducido */
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    background-color: #f0f8ff;
    color: #005073;
}

.form-group textarea {
    height: 80px; /* Reducido */
    overflow-y: auto;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px; /* Reducido */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* Reducido */
}

.buttons button:last-child {
    margin-right: 0;
}

.buttons button:hover {
    background-color: #0056b3;
}

.imagenes-preview img {
    max-width: 80px; /* Reducido */
    max-height: 80px; /* Reducido */
    margin: 4px; /* Reducido */
}
