.titulo-ordenes {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: orange;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.contenedor-ordenes-gestion {
    padding: 5%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    margin: 5% 13% 5% auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 80px !important;
    margin-left: 300px;
}

.tabla-ordenes {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

.tabla-ordenes th,
.tabla-ordenes td {
    border: 1px solid #ddd;
    padding: 1.2rem;
    text-align: center;
    font-size: 0.9rem;
}

.button-gestion {
    color: white;
    border: none;
    width: 150px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
}

.mod-estado-orden {
    background-color: #01A6FF;
}

.mod-ver-mas {
    background-color: orange;
}
/* Estilos generales para el popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

/* Diseño interno del popup */
.popup-inner {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); 
    width: 80%; 
    max-width: 600px; 
    text-align: center; 
}

/* Estilizar el título del popup */
.popup-inner h3 {
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
}

/* Estilizar los botones dentro del popup */
.popup-inner button {
    background-color: #01A6FF; 
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease; 
}

.popup-inner button:hover {
    background-color: #0194D8; /* Color un poco más oscuro al pasar el mouse */
}

/* Estilo para el botón de cerrar para diferenciarlo */
.popup-inner button:last-child {
    background-color: orange; 
}

.popup-inner button:last-child:hover {
    background-color: #bbb; 
}

/* Estilizar labels e inputs */
.popup-inner label {
    margin-right: 15px;
    color: #666; 
    font-weight: normal; 
}

.popup-inner input[type="radio"] {
    margin-right: 5px;
}

/* Estilizar el formulario */
.popup-inner form {
    margin-top: 20px;
}
