.information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.information-header {
  font-size: 28px;
  color: #02A6FC;
  margin-bottom: 20px;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.card-link {
  color: #02A6FC; 
  text-decoration: none;
}


.card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 5px #FDB254;
  padding: 20px;
  width: 30%;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 20px;
  color: #080808;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #FDB254;
}

.card-link {
  color: #02A6FC !important;
  text-decoration: none;
  font-size: 14px;
  margin-top: 15px;
  display: inline-block;
}

.link-container {
  text-align: center; /* Centra el enlace */
  margin-top: 10px; /* Agrega espacio arriba del enlace */
}

.card-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.values-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.value {
  text-align: center;
  width: 20%;
}

.value-icon {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.value-title {
  font-size: 16px;
  color: #FDB254;
}

.linea-divisora-blue-large {
  border: 2px solid #02A6FC;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .value-icon {
    width: 60px;
    height: 60px;
  }

  .value-title {
    font-size: 12px;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 90%;
  }

  .value {
    width: 50%;
  }

  .value-icon {
    width: 40px;
    height: 40px;
  }

  .value-title {
    font-size: 12px;
  }
}