.contenedor-principal {
    display: flex;
    justify-content: space-between; 
    padding: 10px; 
    
  }

.container-agregar,
.container-editar {
  width: 60%; 
  
  
}
.cuerpo{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 18px;
    width: 100%;
    align-items: center;
    
}
.forms{
    padding: 1px;  
    margin: 5px;
    font-size: 18px;
    width: 100%;
    
}
.encabezados{
    border-bottom: 2px solid #FDB254;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}
.titulos{
    margin: 0;

}
.close {
    align-self: flex-start; 
}
.botones{
    margin: 10px auto;  padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #01A6FF;
    border-radius: 88px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
.btn-agregar{
    margin: 10px auto;  padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #FDB254;
    border-radius: 88px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}
.btn-editar{
    margin: 10px 30px ;  padding: 10px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #00BF63;
    border-radius: 88px;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

/* Estilos generales para el modal de confirmación */
.modal-confirmar .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
  }
  
  .modal-confirmar .modal-content {
    border-radius: 15px;
    border: none;
  }
  
  /* Estilos para el encabezado del modal de confirmación */
  .modal-confirmar .modal-header {
    background-color: #f8f9fa;
    border-bottom: 2px solid #FDB254;
    padding: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  .modal-confirmar .modal-title {
    font-weight: bold;
    color: #FDB254;
    font-size: 20px;
    text-align: center;
  }
  
  /* ... tus estilos existentes ... */

/* Estilos para el cuerpo del modal de confirmación */
.modal-confirmar .modal-body {
    display: flex; /* Usa flexbox para alinear los elementos internos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    flex-direction: row; /* Alinea los elementos en una fila */
    padding: 20px; /* Añade un poco de espacio alrededor del contenido del modal */
  }
  
  /* Estilos para los botones dentro del cuerpo del modal */
  .modal-confirmar .modal-body .btn {
    margin: 0 10px; /* Espaciado entre los botones */
    min-width: 140px; /* Asegura un ancho mínimo para los botones */
  }
  
  /* Botón Cancelar */
  .modal-confirmar .modal-body .btn-secondary {
    background-color: #6c757d; /* Color gris */
    color: white;
  }
  
  /* Botón Confirmar */
  .modal-confirmar .modal-body .btn-primary {
    background-color: #01A6FF; /* Color azul */
    color: white;
  }
  