.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FDB254;
    padding: 0px 0px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 auto;
  }
  
  .navbar-logo img {
    height: 80px;
    max-width: 100%;
  }