.perfil-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
  background-color: #fefdfd;
}

.perfil-container {
  width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.icono-usuario {
  margin-right: -100px;
  margin-left: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.icono-usuario img {
  width: 170px;
}

.formulario-perfil {
  display: grid;
  gap: 15px;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
}

.campo-formulario label {
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.campo-formulario input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.boton-guardar {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.boton-guardar:hover {
  background-color: #0056b3;
}

.cambiar-contrasena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lock-icon {
  width: 20px;
}

.cambiar-contrasena {
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 18px;
  margin: 0;
}

.info-usuario {
  text-align: center;
  margin-top: 10px;
  margin-left: -80px;
}

.icono-lapiz {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  margin-right: 5px;
}

.etiqueta-usuario {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #333;
}

@media (max-width: 768px) {
  .perfil-container {
    width: 80%;
    margin-left: 30px;
  }

  .icono-usuario img {
    display: none; /* Ocultar el icono de usuario en pantallas más pequeñas */
  }

  .info-usuario {
    margin-left: -40px;
  }

  .icono-lapiz {
    display: none; /* Ocultar el icono del lápiz en pantallas más pequeñas */
  }

  .etiqueta-usuario {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .perfil-wrapper {
    padding: 20px;
  }

  .perfil-container {
    width: 100%;
  }

  .icono-usuario {
    display: none; /* Ocultar completamente el contenedor del icono de usuario */
  }

  .info-usuario {
    margin-left: -20px;
  }

  .etiqueta-usuario {
    font-size: 12px;
  }
}
