

/* Footer.css */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; /* Aplica la fuente Montserrat a todo el footer */
}

.footer-content {
  background-color: #FDB254;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media-label {
  margin-right: 10px;
  font-weight: bold;
}

.social-media-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-top: -15px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  margin: 5px 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

.footer-link-with-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon2 {
  width: 50px;
  margin-top: 10px;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .social-media, .footer-links, .footer-link-with-icon {
    align-items: center;
    justify-content: center;
  }

  .social-media, .footer-links, .logo-container, .footer-link-with-icon {
    margin-bottom: 20px;
  }

  .social-media-label, .footer-link, .footer-link-with-icon a {
    text-align: center;
  }

  .social-media-icon, .icon2 {
    margin: 0 5px;
    margin-top: -15px;
  }
}
@media (max-width: 480px) {
  .social-media-icon, .icon2 {
    width: 20px; /* Reduce el tamaño de los iconos */
    height: 20px;
    margin-top: -25px;
  }

  .logo {
    width: 120px; /* Reduce el tamaño del logo */
  }

  .footer-link {
    font-size: 14px; /* Reduce el tamaño de la fuente para los enlaces */
  }
}
