.carousel-indicators [data-bs-target] {
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.section-divider {
    align-items: center;
    text-align: center;
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 0;
}

.linea-divisora-blue-large {
    border: 2px solid #01A6FF;
    width: 85%;
    margin: 0 auto;
}

.linea-divisora-blue-med {
    border: 2px solid #01A6FF;
    width: 105%;
    margin: 0 auto;
}

/* <Productos Destacados> */
.destacado-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 3%;
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

.destacado-text {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: orange;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .destacado-text {
        font-size: 30px;
        font-weight: bold;
        font-style: italic;
        color: orange;
        margin: 0 auto;
    }

    .destacado-container {
        flex-wrap: wrap;
        padding: 2%;
        width: 100%;
        height: auto;
    }

    .destacado-text {
        font-size: 40px;
        margin: 0 auto;
    }

}

/* Estilos para teléfonos móviles (pantallas hasta 480px) */
@media (max-width: 480px) {
    .destacado-text {
        font-size: 35px;
        font-weight: bold;
        font-style: italic;
        color: orange;
        margin: 0 auto;
    }
}

.destacado-product-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    height: 375px;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
}

.destacado-lista {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 700px;
    max-height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 20px #333;
}

.elemento {
    flex: 0 0 auto;
    text-align: center;
    margin: 35px 15px;
    width: 300px;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
}

.elemento img {
    width: 250px;
    height: 250px;
    object-fit: fill;
    transition: transform 0.3s ease;
}

.elemento img:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    transform: scaleY(1.2);
    transform: scaleX(1.1);
    transition: transform 0.3s ease;
}

.elemento h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0;
}

.elemento p {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}

.elemento button {
    background-color: orange;
    color: white;
    border: none;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
}

.elemento button:hover {
    background-color: #0277bd;
}

.prev-btn, .next-btn {
    color: white;
    border: none;
    padding: 3px;
    background: transparent;
    font-size: 42px;
    cursor: crosshair;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
/* <Productos Destacados> */

/* <Categorias> */
.product-section {
    background-color: #FFFFFF;
    width: 100%;
    padding: 20px 0;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
    text-align: center;
    flex: 1;
    min-width: 150px;
    max-width: 300px;
    text-decoration: none;
}

.product-item:hover {
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.product-item img {
    width: auto;
    height: 100px;
    object-fit: contain;
    margin: 8px;
}

.product-item p {
    font-size: 16px;
    color: #333;
    margin: 10px;
}
/* <Categorias> */