.button-container {
    display: flex;
  }
  
  .iniciar-sesion{   
     display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin: 0px 40px 10px;
    height: auto;
}
  .registrarse {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin: 0px 30px 10px;
    height: auto;
  }
  .forms{
    margin: 0px 40px 25px 30px;
  }
  .login {
    background-color: #01A6FF !important;
    border-color: #01A6FF !important;
    margin: 0px 40px 25px 30px; 
    padding: 10px 20px; 
    font-size: 18px; 
  }
  .forgot{
    background: none;
    border: none;
    color: #01A6FF;
    margin: 0px 40px 30px 30px;
    height: auto;
  }
  .iniciar-sesion.selected,
  .registrarse.selected {
    border-bottom: 2px solid orange;
  }
  .iniciar-sesion p,
.registrarse p {
  margin: 0; 
}