@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FDB254;
  padding: 0px 0px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
}

.navbar-logo img {
  height: 80px; /* Reduced height */
  max-width: 100%; /* Ensure the logo is not bigger than its container */
}

.brand-name {
  font-family: 'Gravitas One', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0 0 0 30px; /* Adjusted margin */
  transition: transform 0.3s ease;
}

.menu-item {
  padding: 5px 10px; /* Reduced padding */
  margin-right: 10px; /* Reduced margin */
  color: #000;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Adjusted font size */
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.menu-item:hover {
  color: #02A6FC;
  text-decoration: underline;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px; 
  margin: 0px 10px;
  height: auto;
}

.icon {
  height: 30px;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 8px;
}

.search-container {
  display: flex; /* Mostrar la barra de búsqueda */
  margin-left: 0; /* Alinea la barra de búsqueda a la derecha */
  position: relative;
}

.search-box {
  padding: 8px 32px 8px 8px; /* Añade un padding a la derecha para hacer espacio para el icono de la lupa */
  padding-right: 40px;
  font-size: 16px;
  border: 3px solid #02A6FC;
  border-radius: 12px;
  width: 900px; /* o el ancho que desees */
  /* Asegúrate de que el input no tenga un borde derecho para que el botón parezca parte del input */
}
.search-button {
  padding: auto;
  background: none;
  border: none;
  width: 34px; 
  height: 34px; 
  position: absolute; 
  right: 0; 
  height: 100%; 
  cursor: pointer;
  margin-right: 10px;
  margin-top: 2px;
}

.search-button img {
  width: 80%; /* Ajusta el ancho del ícono para llenar el botón */
  height: auto; /* Asegura que la altura del ícono se escale proporcionalmente */
  opacity: 0.4; 
}

.icon-lupa-container {
  display: none; /* Oculto por defecto */
}

/*/estilos pantalla pequena*/
@media (max-width: 1435px) {
  
  .icon-lupa-container {
    display: flex;
    position: absolute;
    right: 100px; /* Ajusta esto para mover más a la derecha según sea necesario */
    top: 30px;
  }
  .search-container {
    display: none;
    position: absolute;
    top: 80px; /* Ajustar según la altura de tu navbar */
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; /* Asegurarse de que se muestre sobre otros elementos */
  }
  .search-active .search-container {
    display: flex;
  }
  .search-active .search-box {
    width: calc(100% - 50px); /* Ajustar el ancho para dejar espacio a los íconos */
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu-open {
    display: flex;
    margin-left: 0;
  }

  .menu-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-right: 0;
  }

  .icon-button img {
    width: 25px;
  }

  .navbar-logo img {
    height: 80px;
  }
  .navbar {
    position: relative; /* Establece la referencia para la posición absoluta de los íconos */
  }
  .icon-container {
    position: absolute; /* Posición absoluta para sacar de flujo normal y poder posicionar */
    top: 20px; /* Espacio desde la parte superior del navbar */
    right: 10px; /* Espacio desde la parte derecha del navbar */
    flex-direction: row; /* Los íconos se apilan verticalmente */
  }

  .menu-open + .icon-container {
    right: 20px; /* Ajusta el espacio a la derecha si es necesario */
  }
  .brand-name {
    font-size: 20px;
    margin-left: 5px;
  }
}
.barraCategorias {
  background-color: #01A6FF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Agrega otros estilos según tus necesidades */
}
.categorias {
  align-items: center;
}
.btnCategorias {
  background: none;
  
  border: none;
  cursor: pointer;
  padding: 8px; 
  margin: 0px 10px;
  height: auto;
  display: flex; 
  align-items: center;
  
  
}
.DropDown {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* Agrega otros estilos según tus necesidades */
}
.textoCategorias {
  margin-left: 10px; 
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
}
.botonesAdicionales {
  display: flex;
  gap: 10px;

}

.botonAdicional {
  display: flex;
  align-items: center;
  padding: 8px;

  margin-right: 10px; 
  text-decoration: none; 
}
