@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #FDB254;
  padding: 10px 20px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-logo img {
  height: 110px;
  max-width: 110%;
}

.brand-name {
  font-family: 'Gravitas One', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 5px;
  white-space: nowrap;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0 0 0 50px;
  transition: transform 0.3s ease;
}

.menu-item {
  padding: 10px 20px;
  margin-right: 20px;
  color: #000;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:hover {
  color: #02A6FC;
  text-decoration: underline;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.icon {
  height: 30px;
}
.icon-container {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex; /* Mostrar la barra de búsqueda */
  margin-left: 0; /* Alinea la barra de búsqueda a la derecha */
  position: relative;
}

.search-box {
  padding: 8px 32px 8px 8px; /* Añade un padding a la derecha para hacer espacio para el icono de la lupa */
  padding-right: 40px;
  font-size: 16px;
  border: 3px solid #02A6FC;
  border-radius: 4px;
  width: 400px; /* o el ancho que desees */
  /* Asegúrate de que el input no tenga un borde derecho para que el botón parezca parte del input */
}
.search-button {
  padding: 0;
  background: none;
  border: none;
  right: 5px; /* Ajusta la posición derecha del botón para que el ícono quede dentro de la barra */
  width: 34px; /* Ajusta el ancho del botón para que se ajuste al ícono */
  height: 34px; /* Ajusta la altura del botón para que se ajuste al ícono */
  position: absolute; /* Posiciona el botón de búsqueda de manera absoluta */
  right: 0; /* Alinea el botón a la derecha del contenedor de la barra de búsqueda */
  height: 100%; /* Asegúrate de que el botón tenga la misma altura que el input */
  cursor: pointer;
}
.search-button img {
  width: 80%; /* Ajusta el ancho del ícono para llenar el botón */
  height: auto; /* Asegura que la altura del ícono se escale proporcionalmente */
  opacity: 0.4; 
}
.icon-lupa-container {
  display: none; /* Oculto por defecto */
}

/*/estilos pantalla pequena*/
@media (max-width: 1435px) {
  
  .icon-lupa-container {
    display: flex;
    position: absolute;
    right: 100px; /* Ajusta esto para mover más a la derecha según sea necesario */
    top: 20px;
  }
  .search-container {
    display: none;
    position: absolute;
    top: 80px; /* Ajustar según la altura de tu navbar */
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10; /* Asegurarse de que se muestre sobre otros elementos */
  }
  .search-active .search-container {
    display: flex;
  }
  .search-active .search-box {
    width: calc(100% - 50px); /* Ajustar el ancho para dejar espacio a los íconos */
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menu-open {
    display: flex;
    margin-left: 0;
  }

  .menu-item {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-right: 0;
  }

  .icon-button img {
    width: 25px;
  }

  .navbar-logo img {
    height: 80px;
  }
  .navbar {
    position: relative; /* Establece la referencia para la posición absoluta de los íconos */
  }
  .icon-container {
    position: absolute; /* Posición absoluta para sacar de flujo normal y poder posicionar */
    top: 20px; /* Espacio desde la parte superior del navbar */
    right: 10px; /* Espacio desde la parte derecha del navbar */
    flex-direction: row; /* Los íconos se apilan verticalmente */
  }

  .menu-open + .icon-container {
    right: 20px; /* Ajusta el espacio a la derecha si es necesario */
  }
  .brand-name {
    font-size: 20px;
    margin-left: 5px;
  }
}
