/* Politicas.css */

.politicas-container {
  border: 2px solid #4a4a4a;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.politicas-title {
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  font-size: 24px;
  color: #FFA500;
  padding-top: 20px;
}

.politicas-content {
  font-size: 16px;
  color: #333;
  line-height: 1.8;
  overflow-y: auto;
  max-height: 400px;
  max-width: 700px;
  margin: auto;
  text-align: justify;
  padding: 20px;
}

.politicas-content div {
  margin-bottom: 10px;
}

.politicas-content h2 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.politicas-content p {
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: normal;
}


